<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="pt-BR">

<meta charset="UTF-8">

<div layout:fragment="content">
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Cadastro de Funcionamento</h1>
                    <div class="row">
                        <div class="col-md-12 col-lg-5">
                            <h2 class="mt-3">Funcionamento Semanal</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Dia da Semana</th>
                                        <th>Abertura</th>
                                        <th>Fechamento</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="funcionamentoSemanal : ${listaFuncionamentoSemanal}">
                                        <td th:text="${funcionamentoSemanal.diaSemana}"></td>
                                        <td th:text="${#dates.format(funcionamentoSemanal.horaInicio, 'HH:mm')}"></td>
                                        <td th:text="${#dates.format(funcionamentoSemanal.horaFim, 'HH:mm')}"></td>
                                        <td>
                                            <a class="btn btn-primary btn-sm ms-2"
                                               th:href="@{/funcionamento/cadastro-semanal(id=${funcionamentoSemanal.diaSemana})}">
                                                Editar
                                            </a>
                                            <a type="button"
                                               class="btn btn-secondary btn-sm ms-2"
                                               data-bs-toggle="modal"
                                               data-bs-target="#modalExcluir"
                                               data-modal-object="Funcionamento Semanal"
                                               th:data-modal-name="${funcionamentoSemanal.diaSemana}"
                                               th:data-modal-link="@{/funcionamento/excluir-semanal(id=${funcionamentoSemanal.diaSemana})}"
                                            > Excluir</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-7">
                            <h2 class="mt-3">Funcionamento Especial</h2>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Nome</th>
                                            <th>Data Hora Início</th>
                                            <th>Data Hora Fim</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="funcionamentoEspecial : ${listaFuncionamentoEspecial}">
                                            <td>
                                                <span class="fw-semibold"
                                                        th:classappend="${funcionamentoEspecial.tipo.name() == 'ABERTO' ? 'text-success' : 'text-danger'}"
                                                        th:text="${funcionamentoEspecial.tipo}"></span>
                                            </td>
                                            <td th:text="${funcionamentoEspecial.nome}"></td>
                                            <td th:text="${#temporals.format(funcionamentoEspecial.dataInicio, 'dd/MM/yyyy HH:mm')}"></td>
                                            <td th:text="${#temporals.format(funcionamentoEspecial.dataFim, 'dd/MM/yyyy HH:mm')}"></td>
                                            <td>
                                                <a class="btn btn-primary btn-sm ms-2"
                                                   th:href="@{/funcionamento/cadastro-especial(id=${funcionamentoEspecial.id})}">
                                                    Editar
                                                </a>
                                                <a type="button"
                                                   class="btn btn-secondary btn-sm ms-2"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modalExcluir"
                                                   data-modal-object="Funcionamento Especial"
                                                   th:data-modal-name="${funcionamentoEspecial.nome}"
                                                   th:data-modal-link="@{/funcionamento/excluir-especial(id=${funcionamentoEspecial.id})}"
                                                > Excluir</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a class="btn btn-primary my-3"
                               type="button"
                               th:href="@{/funcionamento/cadastro-especial}">
                                Cadastrar funcionamento especial
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</html>