<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      lang="pt-BR">

<meta charset="UTF-8">

<div layout:fragment="content">
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Clientes</h1>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Endereços</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cliente : ${listaClientes}">
                                <td class="semibold" th:text="${'#' + cliente.id}"></td>
                                <td class="semibold" th:text="${cliente.nome}"></td>
                                <td th:text="${cliente.telefone}"></td>
                                <td>
                                    <div class="my-1 border border-1 p-2"
                                         th:each="endereco : ${cliente.enderecos}">
                                        <span th:text="${endereco.logradouro}"></span>,
                                        <span th:text="${endereco.numero}"></span>
                                        <span th:text="${' - ' + endereco.complemento}"></span>
                                        <br>
                                        <span th:text="${endereco.bairro}"></span>
                                        <br>
                                        <span th:text="${endereco.cidade}"></span>/
                                        <span th:text="${endereco.estado}"></span>
                                        <br>
                                        CEP: <span th:text="${endereco.cep}"></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        function updateValorFinal() {
           const valorOriginal = parseFloat(document.getElementById('valorOriginal').value) || 0;
           const valorDesconto = parseFloat(document.getElementById('valorDesconto').value) || 0;
           const valorFinal = valorOriginal - valorDesconto;
           document.getElementById('valorFinal').value = valorFinal.toFixed(2);
        }
        document.addEventListener('DOMContentLoaded', function () {
           updateValorFinal();
        });
    </script>
</div>

</html>