<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md bg-dark py-3 mb-3" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img th:src="@{/assets/img/quickcup-logo.png}" alt="QuickCup Logo" width="45" height="45">
                <span class="ms-2">QuickCup</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${currentPage == 'index' ? 'active':''}"
                           th:href="@{/}">
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#strings.startsWith(currentPage,'empresa') ? 'active':''}"
                           th:href="@{/empresa}">
                            Empresa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#strings.startsWith(currentPage,'funcionamento') ? 'active':''}"
                           th:href="@{/funcionamento}">
                            Funcionamento
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           th:classappend="${#strings.startsWith(currentPage, 'cadastros') ? 'active':''}"
                           href="#"
                           id="navbarDropdownCadastros"
                           role="button"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false">
                            Cadastros
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark"
                            aria-labelledby="navbarDropdownCadastros" style="background-color: #283622;">
                            <li class="nav-item dropstart">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdownCadastrosGrupo"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false"> Grupo de Produtos
                                </a>
                                <ul class="dropdown-menu"
                                    aria-labelledby="navbarDropdownCadastrosGrupo"
                                    style="background-color: #283622;">
                                    <li><h5 class="dropdown-header">Grupo de Produtos</h5></li>
                                    <li><a class="dropdown-item" th:href="@{/grupo}">Listar</a></li>
                                    <li><a class="dropdown-item" th:href="@{/grupo/cadastro}">Cadastrar</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropstart">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdownCadastrosProduto"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false"> Produtos
                                </a>
                                <ul class="dropdown-menu"
                                    aria-labelledby="navbarDropdownCadastrosProduto"
                                    style="background-color: #283622;">
                                    <li><h5 class="dropdown-header">Produtos</h5></li>
                                    <li><a class="dropdown-item" th:href="@{/produto}">Listar</a></li>
                                    <li><a class="dropdown-item" th:href="@{/produto/cadastro}">Cadastrar</a></li>
                                </ul>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item dropstart">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdownCadastrosCliente"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false"> Clientes
                                </a>
                                <ul class="dropdown-menu"
                                    aria-labelledby="navbarDropdownCadastrosCliente"
                                    style="background-color: #283622;">
                                    <li><h5 class="dropdown-header">Clientes</h5></li>
                                    <li><a class="dropdown-item" th:href="@{/cliente}">Listar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           th:classappend="${#strings.startsWith(currentPage, 'pedidos') ? 'active':''}"
                           href="#"
                           id="navbarDropdownPedidos"
                           role="button"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false">
                            Pedidos
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdownPedidos"
                            style="background-color: #283622;">
                            <li><a class="dropdown-item" th:href="@{/pedido/atendimento}">Atendimento</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>