<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>QuickCup - Admin</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">
</head>
<body>

<div class="position-absolute d-flex top-0 start-0 vw-100 vh-100">
    <div class="m-auto w-50 justify-content-center align-content-center text-center">
        <img width="50%x" alt="ATR Logo" th:src="@{/assets/img/quickcup-logo.png}">
        <h2>Lamentamos, mas ocorreu um erro.</h2>
        <a th:href="@{/}" type="button" class="mt-1 btn btn-primary btn-lg">QUICKCUP</a>

        <div class="mt-3">
            <p th:text="'Erro: ' + ${status} + ' - ' + ${timestamp}">404</p>
            <p th:utext="${error}">Error java.lang.NullPointerException</p>
        </div>
    </div>
</div>

<script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>